<div class="relative min-h-screen">
    <!-- top bar -->
    <div class="fixed left-0 right-0 h-16 bg-white text-gray-800 flex justify-between items-center border-b border-gray-400 px-2">
        <!-- logo -->
        <div class="flex items-center space-x-1 px-4">
            <svg class="bi bi-cloud-download" viewBox="0 0 16 16" fill="#ff0000" style="height: 36px;">
                <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"
                      fill="#ff0000"/>
                <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"
                      fill="#ff0000/"></path>
            </svg>
            <a href="/" class="block text-gray-800 font-bold text-blue-900 pl-2">Cloudy</a>
        </div>

        <!-- mobile menu button -->
        <button class="mobile-menu-button p-4 hover:bg-gray-100 focus:outline-none md:hidden">
            <svg class="h-5 w-5" viewBox="0 0 36 36" stroke="currentColor">
                <path d="M4 6h16M4 12h16M4 18h16"/>
            </svg>
        </button>
    </div>
    <div class="sidebar overflow-y-auto border-r-2 w-48 space-y-6 px-2 py-2 transform -translate-x-full fixed top-16 bottom-0 left-0 md:translate-x-0 transition duration-200 ease-in-out z-10">
        <nav>
            <a href="/home"
               class="block py-2 5 px-4 flex items-center space-x-2  rounded hover:bg-blue-700 hover:text-white transition duration-1000">

                <svg fill="#ffffff" viewBox="0 0 80 80" style="height: 36px;">
                    <path d="M 40 5.820313 L 7 26.445313 L 7 35.804688 L 8.53125 34.847656 L 9 34.550781 L 9 71 L 71 71 L 71 34.554688 L 73 35.804688 L 73 26.445313 Z M 40 8.179688 L 71 27.554688 L 71 32.199219 L 40 12.820313 L 9 32.199219 L 9 27.554688 Z M 40 15.179688 L 69 33.304688 L 69 62 C 68.449219 62 68 62.449219 68 63 C 68 63.550781 68.449219 64 69 64 L 69 69 L 49 69 L 49 64 C 49.550781 64 50 63.550781 50 63 C 50 62.449219 49.550781 62 49 62 L 49 44 L 31 44 L 31 62 C 30.449219 62 30 62.449219 30 63 C 30 63.550781 30.449219 64 31 64 L 31 69 L 11 69 L 11 64 C 11.550781 64 12 63.550781 12 63 C 12 62.449219 11.550781 62 11 62 L 11 33.300781 Z M 31 25 L 31 37 L 49 37 L 49 25 Z M 33 27 L 39 27 L 39 35 L 33 35 Z M 41 27 L 47 27 L 47 35 L 41 35 Z M 33 46 L 47 46 L 47 69 L 33 69 Z M 43.5 57 C 42.671875 57 42 57.671875 42 58.5 C 42 59.328125 42.671875 60 43.5 60 C 44.328125 60 45 59.328125 45 58.5 C 45 57.671875 44.328125 57 43.5 57 Z M 15 62 C 14.449219 62 14 62.449219 14 63 C 14 63.550781 14.449219 64 15 64 C 15.550781 64 16 63.550781 16 63 C 16 62.449219 15.550781 62 15 62 Z M 19 62 C 18.449219 62 18 62.449219 18 63 C 18 63.550781 18.449219 64 19 64 C 19.550781 64 20 63.550781 20 63 C 20 62.449219 19.550781 62 19 62 Z M 23 62 C 22.449219 62 22 62.449219 22 63 C 22 63.550781 22.449219 64 23 64 C 23.550781 64 36 63.550781 36 63 C 36 62.449219 23.550781 62 23 62 Z M 27 62 C 26.449219 62 26 62.449219 26 63 C 26 63.550781 26.449219 64 27 64 C 27.550781 64 28 63.550781 28 63 C 28 62.449219 27.550781 62 27 62 Z M 53 62 C 52.449219 62 52 62.449219 52 63 C 52 63.550781 52.449219 64 53 64 C 53.550781 64 54 63.550781 54 63 C 54 62.449219 53.550781 62 53 62 Z M 57 62 C 56.449219 62 56 62.449219 56 63 C 56 63.550781 56.449219 64 57 64 C 57.550781 64 58 63.550781 58 63 C 58 62.449219 57.550781 62 57 62 Z M 61 62 C 60.449219 62 60 62.449219 60 63 C 60 63.550781 60.449219 64 61 64 C 61.550781 64 62 63.550781 62 63 C 62 62.449219 61.550781 62 61 62 Z M 65 62 C 64.449219 62 64 62.449219 64 63 C 64 63.550781 64.449219 64 65 64 C 65.550781 64 66 63.550781 66 63 C 66 62.449219 65.550781 62 65 62 Z"/>
                </svg>
                <span>Home</span>
            </a>
            <a href="/documents"
               class="block py-2 5 px-4 flex items-center space-x-2 rounded hover:bg-blue-700 hover:text-white transition duration-100">
                <svg viewBox="0 0 491.52 491.52" fill="#ffffff" style="height: 36px;">
                    <g>
                        <path d="M207.05,102.4l-53.53-51.2H0v389.12h491.52V102.4H207.05z M20.48,419.84V71.68H145.3l53.53,51.2h272.21v296.96H20.48z"/>
                    </g>
                    <g>
                        <rect x="194.56" y="368.64" width="235.52" height="20.48"/>
                    </g>
                    <g>
                        <rect x="296.96" y="317.44" width="133.12" height="20.48"/>
                    </g>
                </svg>
                <span>Document</span>
            </a>
        </nav>
    </div>
</div>